/* Show it is fixed to the top */
.pd{
    padding-top: 20px;
}


ul a:hover{
    color: #c4122f !important;
}
nav li{
    text-align: center;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #c4122f;
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: #c4122f !important;
}


@media screen and (min-width: 1024px) {
    div#navbarTogglerDemo02 {
         padding: 18px 0px;
     }
}
.navbar-nav .nav-item .nav-link{
    padding: 1.1em 1em!important;
    /*font-size: 100%;*/
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #343a40;
    font-family: 'Gothic A1', sans-serif;
}

@media screen and (max-width: 600px) {
    .navbar-dark .navbar-toggler-icon {

        background: #c4122f !important;
    }

    #top_bar input.search_input {
        padding: 10px 70px 10px 43px;
        border-radius: 45px;
        border: 1px solid #dddddd;
        width: 100%;
    }
    #top_bar svg.svg-inline--fa.fa-search.fa-w-16 {

        position: absolute;
        margin-left: -43px;
        margin-top: 17px;
    }
    #top_bar input.search_input {

        position: relative;
    }
    /*.tabbg {*/
        /*display: none;*/
    /*}*/
    #top_search_btn input.search_input {

        width: 100%;
    }

    #top_search_btn svg.svg-inline--fa.fa-search.fa-w-16 {

        position: absolute;
        margin-left: -43px;
        margin-top: 17px;
    }
    #top_search_btn input.search_input {

        position: relative;
    }
    #order_detail_page_top .center{
        width: 300px;
        height: auto;
        padding-bottom: 39px;
    }


}

@media screen and (max-width: 600px) {
    #order_detail_page_top .detail_box_for_order_sum {
        padding-left: 14px!important;
        padding-right: 14px!important;
        padding-bottom: 15px!important;
    }

    #order_sum .sumary_box {

        padding: 10px!important;
    }
    #order_sum .price_tag {

        width: 100%;
        margin-top: -45px;
        margin-left: 157px;
    }
    #order_sum .text-muted {

        margin: 0 auto;
        margin-left: 29%;
        margin-top: -53px;
        font-size: 14px;

    }

}
@media screen and (max-width: 1024px) {
    #order_sum .sumary_box {

        padding: 20px !important;
    }
}
@media screen and (max-width: 600px) {
    #order_sum .price_tag {
        font-size: 14px!important;
        color: #bbbbbb;
        line-height: 1;
    }
}
@media screen and (max-width: 600px) {
    #order_sum span.close {

        height: 15px!important;
        width: 15px!important;
        font-size: 9px!important;

    }
}

.navbar-brand img{
    width: 150px;
}

.navbar-dark .navbar-toggler {
    color: rgb(196 18 47);
    border-color: rgb(196 18 47);
}

.shadow{

    box-shadow: 1px 2px 5px 4px rgba(243,243,243,0.75);
    -webkit-box-shadow: 1px 2px 5px 4px rgba(243,243,243,0.75);
    -moz-box-shadow: 1px 2px 5px 4px rgba(243,243,243,0.75);

}
/*nav*/

.tabbg{
    /*background: #bc112d;*/
    /*padding: 7px 75px;*/
    border-bottom: 8px solid #c4122f;
    width: 10%;
    margin-left: 16%;
}

#main_slider svg.svg-inline--fa.fa-chevron-right.fa-w-10{
color: #bc112d;
font-size: 50px;
font-weight: 100;}

#main_slider svg.svg-inline--fa.fa-chevron-left.fa-w-10{
    color: #bc112d;
    font-size: 50px;
    font-weight: 100;
}

#cards_menu .card {
    border-radius: 12px;
    border: 1px solid #bc112d;
}

#cards_menu h5.card-title {
    text-align: center;
    color: #949494;
    padding-bottom: 21px;
}

#cards_menu img.card-img-top {
    padding: 15px;
    padding-top: 30px;
    height: 260px;
}
#cards_menu{
padding-top: 30px;
padding-bottom: 30px;}

#cards_menu .icons_on_hover{
    background: #bc112d;
    padding: 5px;
}

#top_bar input.search_input {
    padding: 10px 70px 10px 43px;
    border-radius: 45px;
    border: 1px solid #dddddd;

}
#top_bar .searchbar {
    padding-top: 27px;
}

#top_bar svg.svg-inline--fa.fa-search.fa-w-16 {
    margin-left: -39px;
    color:#dddddd;
}

#gift_modal .modal-content {
    background: #ff9100;
    border-radius: 21px;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;

}
#gift_modal .modal-footer{
    border: none;
}
#gift_modal .modal-header{
    border: none;
}
#gift_modal .bg{
    background-image: url("../images/Group 547.png");

    background-repeat: no-repeat;

    /*margin-left: 111px;*/
    padding: 191px 200px;
}
#gift_modal .modal-content button.close {
    margin-top: -55px;
    margin-right: -65px;
    position: relative;
    background: white;
    border-radius: 22px;
    height: 40px;
    width: 40px;
}

#gift_modal .modal-content span.ii {
    margin-top: -13px;
    position: absolute;
    margin-left: -7px;
}

#gift_modal button.btn.btn-secondary.open {
    margin-top: 25px;
    position: absolute;
    padding: 5px 42px;
    background: #bc112d;
    border: 1px solid white;
}




#top_search_btn input.search_input {
    padding: 10px 70px 10px 43px;
    border-radius: 45px;
    border: 1px solid #dddddd;

}
#top_search_btn .searchbar {
    padding-top: 27px;
}
#top_search_btn .btn_goback {
    margin-top: 32px;
    padding: 8px 48px;
    background: #c4122f;
    border-radius: 17px;
    border: none;
}
#top_search_btn svg.svg-inline--fa.fa-search.fa-w-16 {
    margin-left: -39px;
    color:#dddddd;
}

#add_to_cart_box{
    padding-top: 20px;
    padding-bottom: 20px;

}
#add_to_cart_box .card{
    border: none;
}

#add_to_cart_box img.card-img-top {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding-top: 25px;
    max-height: 220px;
}
#add_to_cart_box h5.card-title {
    /*text-align: center;*/
    color: #333333;
}
#add_to_cart_box .price{
    /*text-align: center; *!*/
    font-size: 1.25rem;
    float: right;
    color: #c4122f;
    font-weight: bold;
}
#add_to_cart_box .card-body{
    padding: 25px 10px 10px 10px;
}


#add_to_cart_box p.card-text {
    /*text-align: center;*/
    color: #bfbfbf;
    padding-top: 10px;
    font-size: 14px;
    min-height: 100px !important;
}
#add_to_cart_box .addtocart_btn {
    background: #c4122f;
    padding: 9px 21px 24px 239px;
    border: none;
    border-radius: 10px;
}
#add_to_cart_box .btn_view {
    background: white;
    color: #c4122f;
    border-radius: 0px;

    padding: 10px;
    border-color: white;

}
#add_to_cart_box .addto_cart {
    background: #c4122f;
    color: white;
    border-radius: 0px;
    padding: 10px;

}
@media screen and (max-width: 780px) {
    #add_to_cart_box .addto_cart {

        padding: 10px;
    }
    #add_to_cart_box .btn_view {

        padding: 10px 20px;

    }
}
/*@media screen and (max-width: 600px) {*/
    /*#add_to_cart_box .addto_cart {*/

        /*padding: 10px 91px;*/
    /*}*/
    /*#add_to_cart_box .btn_view {*/

        /*padding: 10px 50px;*/

    /*}*/
/*}*/

#view_cart_sec .box{
    background: #c4122f;
    padding: 10px 10px 10px 0px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;

}
@media screen and (max-width: 600px) {
    #view_cart_sec .box {
        line-height: 1;
        padding-bottom: 12px;
        font-weight: bold;
        padding-top: 12px;
        font-size: 15px;
    }
}
#view_cart_sec {
    padding-bottom: 20px;
}

#radio_selection_page_top{
    padding-top: 50px;
    padding-bottom: 65px;
}

#radio_selection_page_top .goback_btn{
background: #c4122f;
padding: 7px 46px 5px 21px;
margin-top: 36px;
border-radius: 10px;}

#details_banner .col-md-6.detail_meals {
    padding: 80px;
}

#details_banner h2 {
    font-size: 33px;
    font-weight: 700;
}
#details_banner h4 {
font-size: 36px;
color: #c4122f;
padding-bottom: 20px;
font-weight: 600;}
#details_banner p {
color: #989898;
font-size: 18px;}

#collap_meals_sec .card{
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border: none;
    border-radius: 7px;
}
#collap_meals_sec{
    padding-bottom: 40px;
    padding-top: 40px;

}

#collap_meals_sec .card-header {
    background-color: white;
    border: none;
    padding-left: 100px;
    padding-top: 30px;
    border-radius: 15px;
    padding-bottom: 30px;
}
#collap_meals_sec button.btn.btn-link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #c4122f;
}

#collap_meals_sec svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    margin-left: 293px;
    position: relative;
    font-size: 18px;
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
#collap_meals_sec svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    margin-left: 143px;
    position: relative;
    font-size: 18px;
}
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    #collap_meals_sec svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
        margin-left: 83px;
        position: relative;
        font-size: 18px;
    }
}


#collap_meals_sec .card-body {
    padding-left: 80px;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
#collap_meals_sec .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
#collap_meals_sec .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#collap_meals_sec .container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#collap_meals_sec .container input:checked ~ .checkmark {
    background-color: #c4122f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#collap_meals_sec .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
#collap_meals_sec .container input:checked ~ .checkmark:after {
    display: block;
}

#collap_meals_sec .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #c4122f;
}

#collap_meals_sec div#accordion {
    padding-bottom: 38px;
    padding-top: 20px;
}
#collap_meals_sec  .card {
    border-radius: 15px;
}



#collap_meals_sec .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
;min-width: 35px;
    text-align: center;
}
#collap_meals_sec .qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}
#collap_meals_sec .qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
#collap_meals_sec div {
    text-align: center;
}
#collap_meals_sec .minus:hover{
    background-color: #717fe0 !important;
}
#collap_meals_sec .plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
#collap_meals_sec span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#collap_meals_sec input{
    border: 0;
    width: 2%;
}
#collap_meals_sec input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#collap_meals_sec input:disabled{
    background-color:white;
}
#addtocart {
    padding-top: 20px;
    padding-bottom: 20px;
}

#addtocart .addtocart_btn{
    color: #fff;
    background-color: #c4122f;
    border-color: #c4122f;
    padding: 10px 54px;

}

#addtocart .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
;min-width: 35px;
    text-align: center;
}
#addtocart .qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 20%;
    padding: 5px;
}
#addtocart .qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 22%;
    background-clip: padding-box;
    padding:5px;
}
#addtocart div {
    text-align: center;
}
#addtocart .minus:hover{
    background-color: #c4122f !important;
}
#addtocart .plus:hover{
    background-color: #c4122f !important ;
}
/*Prevent text selection*/
#addtocart span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#addtocart input{
    border: 0;
    width: 2%;
}
#addtocart nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#addtocart input:disabled{
    background-color:white;
}
#addtocart .qty {
    margin-top: 87px;
}

#order_detail_page_top {
    padding-top: 80px;
    padding-bottom: 50px;
}
#order_detail_page_top p{
font-size: 30px;
color: #c4122f;}


body a {
    color: #c4122f;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #c4122f;
    text-decoration: none;
}

#order_detail_page_top .pd_top{
  padding-top: 100px;
}

#order_detail_page_top .detail_box_for_order_sum{
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#order_detail_page_top .detail_box_for_order_sum .title {
    font-size: 24px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 17px;
    font-weight: 600;
    border-bottom: 2px solid #bbbbbb;
}



#order_detail_page_top .detail_box_for_order_sum {
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 15px;
}
#order_detail_page_top .detail_summary_view{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

#order_detail_page_top .total_bar{
    font-size: 18px;
    color: black;
    font-weight: 900;
}

#order_detail_page_top .total_bar_box{
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    margin-top: 30px;
}
#order_detail_page_top .cd_card{
font-size: 14px;
color: black;
font-weight: 500;
padding-top: 20px;}

#order_detail_page_top .rowPd{
padding: 16px;
}
#order_detail_page_top .view_order_btn{
background: #c4122f;
border: none;
padding: 10px 17px;
font-weight: 400;}

#order_detail_page_top .feedback_btn{
    background: #c4122f;
    border: none;
    padding: 10px 38px;
    font-weight: 400;
    margin-top: 10px;
}
#order_sum{
    padding-top: 40px;
    padding-bottom: 20px;
}

#order_sum .sumary_box{
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 45px;

}
#order_sum .head{
border-bottom: 2px solid #bbbbbb;
    padding-bottom: 20px;}

#order_sum .counter{

    width: 50px;
    height: 50px;
    padding: 10px 20px 20px 20px;
    border: 1px solid #d7d3d3;
}
#order_sum  .text-muted {
    color: #c3112e!important;
    font-weight: 500;
}
#order_sum span.close {
    border: 1px solid;
    border-radius: 30px;
    height: 20px;
    width: 20px;
    font-size: 14px;
    padding: 2px;
    color: #c3112e;}
#order_sum .price_tag{
font-size: 18px;
color: #bbbbbb;
line-height: 1;}
@media screen and (min-width: 1024px) {
    #order_sum .counter {
        width: 46px;
        height: 40px;
        padding: 7px 18px 7px 18px;
        border: 1px solid #d7d3d3;
    }
}
#order_sum .pd{
padding-bottom: 0px;}

#order_sum .total_bar{
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
border-radius: 4px;}

#order_sum .total_title{
    margin-top: 30px;
    padding: 19px;
    font-size: 23px;
    font-weight: 700;
}

#order_sum .place_order{
padding: 15px 41px;
background: #c3112e;
border: none;
font-size: 15px;}

#top_logo_order_sum{
    padding-bottom: 40px;
    padding-top: 40px;
}


/*discount popup*/
#discount .modal-content {
    background: #f6f6f6;
    border-radius: 21px;
    width: 550px;
    padding-top: 20px;
    padding-bottom: 20px;

}
#discount .modal-footer{
    border: none;
}
#discount .modal-header{
    border: none;
    padding-top: 0px;
    text-align: center;
}
#discount .bg{
    background-image: url("../images/icons/discount.svg");

    background-repeat: no-repeat;

    /*margin-left: 111px;*/
    padding: 191px 200px;


}
#discount .modal-content button.close {
    margin-top: -55px;
    margin-right: -65px;
    position: relative;
    background: white;
    border-radius: 22px;
    height: 40px;
    width: 40px;
}

#discount .modal-content span.ii {
    margin-top: -13px;
    position: absolute;
    margin-left: -7px;
}

#discount button.btn.btn-secondary.open {
    margin-top: 25px;
    position: absolute;
    padding: 17px 36px 17px 36px;
    background: #bc112d;
    border: 1px solid white;
    font-weight: 500;
}
#discount .title{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: black;}

#discount .des{
    text-align: center;
    font-size: 40px;
    /* background: #bc112d; */
    color: #bc112d;
    font-weight: 700;
    padding-bottom: 20px;}


/*before_yougo*/

#before_you_go .modal-content {
    background: #f6f6f6;
    border-radius: 21px;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;

}
#before_you_go .modal-footer{
    border: none;
}
#before_you_go .modal-header{
    border: none;
    padding-top: 0px;
    text-align: center;
}
#before_you_go .bg{
    background-image: url("../images/icons/discount.svg");

    background-repeat: no-repeat;

    /*margin-left: 111px;*/
    padding: 191px 200px;


}
#before_you_go .modal-content button.close {
    margin-top: -55px;
    margin-right: -65px;
    position: relative;
    background: white;
    border-radius: 22px;
    height: 40px;
    width: 40px;
}

#before_you_go .modal-content span.ii {
    margin-top: -13px;
    position: absolute;
    margin-left: -7px;
}

#before_you_go button.btn.btn-secondary.open {
    margin-top: 0px;
    position: absolute;
    padding: 15px 50px 15px 50px;
    background: #bc112d;
    border: 1px solid white;
    font-weight: 500;
    font-size: 20px;
}
#before_you_go .title{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: black;}

#before_you_go .des{
    text-align: center;
    font-size: 40px;
    /* background: #bc112d; */
    color: #bc112d;
    font-weight: 700;
    padding-bottom: 20px;
    color: black;
}
#before_you_go .title{
color: #c4122f;
font-weight: 900;}
#before_you_go .des{
font-size: 14px;
font-weight: 600;
padding-bottom: 0px;
}


#before_you_go .blow_title{
    font-size: 20px;
    color: #c4122f;
    font-weight: 800;
}



/*#order_detail_page_top  .center* order detail page ma ya class add krne ha  center ma image ma ya class lagani ha/


button ma offset lagana ha
 */
button.navbar-toggler {
    display: none;
}
@media screen and (min-width: 1024px) {
    div.scrollmenu {
display: none;
    }
}

@media screen and (max-width: 600px) {
    .qty {
        margin-right: 55px;
    }
}
@media screen and (max-width: 600px) {
    #details_banner .col-md-6.detail_meals {
        padding: 0px;
    }

    #radio_selection_page_top {
         padding-top: 0px;
         padding-bottom: 0px;
    }
    #top_search_btn .t_c{
        text-align: center;
    }
    #top_logo_order_sum {
        padding-bottom: 0px;
        padding-top: 40px;
    }
    .container {
        padding-left: 10px;
    }

}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(196 18 47);
}
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
select:focus{
    outline: none;
    box-shadow: none;
}
.btn :hover {
background: transparent;
color: #c4122f;}

#mb_scrol_menu div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 2px solid #c4122f;
}

#mb_scrol_menu div.scrollmenu a {
    display: inline-block;
    color: #757575;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#mb_scrol_menu div.scrollmenu a:hover {
    background-color: #c4122f;
    color: white;;
}

.total{
    font-weight: bold;
    line-height: 2;
    margin-left: 10px;
    color: #c42c2f;
    font-size: 25px;
}
.total_text{
    font-weight: bold;
    line-height: 2;
    margin-left: 40px;
    color: #c42c2f;
    font-size: 25px;
}
#addtocart .qty .count:focus {
    border-color: white !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* The customcheck */
.customcheck {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #c4122f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .ipad-portrait { color: red; } /* your css rules for ipad portrait */
    #add_to_cart_box .addto_cart {
        padding: 10px 8px;
    }
    #add_to_cart_box .btn_view {
        padding: 10px 10px;
    }

}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
    #add_to_cart_box .addto_cart {

        padding: 10px;
    }
    #add_to_cart_box .btn_view {

        padding: 10px 10px;

    }

}